html {
font-size: 22px;
font-family: "Open Sans";

}

h1 {
    font-size: 32px; 
    text-align: center;

}
#tribute-info
p {
    text-align: center;
    color:black;
    border:  2px solid black;

}

body {

    margin: 0 auto; 
    border: 7px solid black; 

}
